<h2>Template: <span class="badge bg-info">Switches.</span> </h2>
<hr>
<form action=""
      #miFormulario="ngForm">
      
    <!-- Radios -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">

            <div class="form-check">
                <input class="form-check-input" 
                       type="radio" 
                       name="radioGenero" 
                       id="radioMasculino"
                       [(ngModel)]="persona.genero"
                       value="M"
                       required>
                <label class="form-check-label" for="radioMasculino">
                    Masculino
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" 
                       type="radio" 
                       name="radioGenero" 
                       id="radioFemenino"
                       [(ngModel)]="persona.genero"
                       value="F" 
                       required>
                <label class="form-check-label" for="radioFemenino">
                    Femenino
                </label>
            </div>

        </div>
    </div>

    <!-- Switches -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" 
                       type="checkbox" 
                       id="switchNotificacion" 
                       [(ngModel)]="persona.notificaciones"
                       name="switchNotificacion"
                       value="false" >
                <label class="form-check-label" for="switchNotificacion">Quiero recibir notificaciones.</label>
              </div>
        </div>
    </div>

    <!-- Checkbox -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" 
                       type="checkbox" 
                       value=""
                       name="terminos" 
                       [(ngModel)]="terminosCondiciones"
                       id="checkTerminos"
                       required>
                <label class="form-check-label" for="checkTerminos">
                  Terminos y Condiciones del Servicio.
                </label>
            </div>
        </div>
    </div>

    <hr>
    <!-- Botón de Submit -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    [disabled]="miFormulario.invalid">
                Guardar
            </button>
        </div>
    </div>

</form>




<h5>VALOR DEL FORMULARIO</h5>
<pre> {{ miFormulario.value | json }} </pre>
<hr>

<h5>PERSONA</h5>
<pre> {{ persona | json }} </pre>
<hr>

<h5>VALIDO</h5>
<pre> {{ miFormulario.valid | json }} </pre>
<hr>

<h5>TÉRMINOS Y CONDICIONES</h5>
<pre> {{ miFormulario.controls?.terminos?.errors | json }} </pre>
<hr>

<h5>CONDICIONES</h5>
<pre>  </pre>
<hr>
